@import url("https://fonts.googleapis.com/css2?family=Long+Cang&family=ZCOOL+XiaoWei&display=swap");
#app {
  display: flex;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-style: normal;
}

aside {
  width: 250px;
  height: auto;
  background-color: #bdc3c7;
}
aside .solan {
  width: 100%;
  display: flex;
  border-bottom: 1px solid white;
}
aside .solan h2 {
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 30px;
}
aside .solan img {
  width: 33%;
  margin: 20px 20px 20px 30px;
  border-radius: 52%;
}
aside #dynamic_nav {
  width: 100%;
}
aside #dynamic_nav > a {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-size: 18px;
}
aside #dynamic_nav > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
aside a.active {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

main {
  width: calc(100% - 250px - 40px);
  min-height: calc(100vh - 20px - 20px);
  background-color: #f0eeee;
  padding: 20px;
}
main .user_info {
  width: 100%;
  display: flex;
  min-height: 180px;
  background-color: #bdc3c7;
  box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, 0.35);
  border-radius: 5px 5px 0 0;
}
main .user_info .left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .user_info .left img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
main .user_info .right {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main .user_info .right .item {
  display: flex;
  width: 50%;
}
main .user_info .right .item:last-child {
  width: 100%;
}
main .user_info .right .item:last-child span {
  font-family: "Long Cang", cursive;
  font-weight: 500;
  font-style: normal;
  color: #409eff;
  font-size: 15px;
}
main .user_info .right .item:last-child span h3 {
  font-size: 19px;
  color: #000000;
}
main .user_info .right .item:nth-last-child(2) span, main .user_info .right .item:nth-last-child(3) span {
  color: #00fd46;
}
main .user_info .right .item:nth-last-child(2) span h3, main .user_info .right .item:nth-last-child(3) span h3 {
  color: #000000;
}
main .user_info .right .item span {
  font-size: 18px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .user_info .right .item span h3 {
  font-family: "Long Cang", cursive;
  font-style: normal;
  font-size: 20px;
  margin-right: 10px;
}
main .user_info .right .item:nth-child(1), main .user_info .right .item:nth-child(2) {
  margin-top: 15px;
}
main .actions {
  display: flex;
  width: 100%;
  height: 80px;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
  background-color: #bdc3c7;
  align-items: center;
  position: relative;
}
main .actions #superuser {
  position: absolute;
  top: 20px;
  left: 60px;
}
main .actions .item {
  margin-right: 156px;
}
main .actions .item:first-child {
  margin-left: 320px;
}
main .collect_article p {
  text-align: center;
  height: 40px;
  user-select: none;
}
main .collect_article p span {
  font-size: 18px;
  font-weight: bold;
}
main .collect_article .item {
  background-color: #ecf0f1;
  min-height: 400px;
}
main .collect_article .item > ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main .collect_article .item > ul > li {
  width: 33.33%;
  box-sizing: border-box;
  height: 100px;
  display: flex;
  padding: 5px 0 10px 10px;
  margin-bottom: 10px;
}
main .collect_article .item .left {
  width: 40%;
  height: 99px;
}
main .collect_article .item .left > div {
  overflow: hidden;
  height: 100px;
  margin-top: 8px;
}
main .collect_article .item .left > div img {
  width: 100%;
  transition: all 0.5s;
}
main .collect_article .item .left > div img:hover {
  transform: scale(1.2);
}
main .collect_article .item .right {
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 7px;
  box-sizing: border-box;
  padding: 0 8px 0 5px;
}
main .collect_article .item .right h2 {
  font-size: 20px;
  margin-top: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .collect_article .item .right p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  box-sizing: border-box;
  padding-top: 9px;
}
main .collect_article .item .right span {
  font-size: 14px;
  color: #605f5f;
}

.el-form-item {
  width: 90%;
}
.el-form-item .el-form-item__label {
  color: #01a0e4;
  width: 40%;
  margin: 0 10px;
  text-align: center;
}
.el-form-item .el-form-item__content {
  width: 50%;
}
.el-form-item .el-form-item__content .el-select {
  width: 230px;
}

/*# sourceMappingURL=backend_base.css.map */
