.avatar_list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
  >li{
    display: flex;
    margin-bottom: 20px;
    margin-right: 20px;
    .el-radio{
      display: flex;
      align-items: center;
    }
    img{
      width: 70px;
      height: 70px;
      border-radius: 5px;
    }
  }
}