@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
#app{
  width: 100%;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-style: normal;
  nav{
    padding: 0 100px; //距离左右一些距离
    width: calc(100% - 200px);
    height: 60px;
    background-color:  transparent;
    display: flex; //左右排布
    align-items: center; //字体居中
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.7s;
    .left{
      width: 60%;
      a.active{
        color: #01a0e4;
      }
    }
    .right{
      width: 40%;
      display: flex;
      justify-content: right;
      img{
        width: 23px;
        margin-right: 20px;
        cursor: pointer;
        margin-top: 5px;
      }
      .el-dropdown{
        span{
          color: var(--nav_top_a);
          font-size: 19px;
          font-weight: bold;
          cursor: pointer;
          //text-decoration: underline;
          border-bottom: 2px solid #333;
          transition: all 2.5s ease-out;
          &:hover{
            border-bottom: 0;
          }
        }
      }
    }
    a{
      //选中nav里面的所有a标签
      margin-right: 15px;
      color: var(--nav-color);
      font-weight: bold;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  nav.show{
    background-color: var(--nav_top_bgc);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    a{
      color: var(--nav_top_a);
    }
    .el-dropdown{
      span{
        color: var(--nav_top_a);
      }
    }
  }

  header{
    width: 100%;
    height: 600px;
    position: relative;
    top: 0;
    left: 0;
    .title{
      position: absolute;
      left:50%;
      top:51%;
      // 由于左边为50% 已经偏了，让它相对自己左边50% 居中
      transform: translate(-50%);
      color: white;
      z-index: 1;
      width: 742px;
      height: 88px;
      h1{
        position: absolute;
        left:24px;
        top:-150px;
        z-index: 1;
        font-size: 56px;
        font-weight: 450;
        text-align: center;
        user-select: none;
        height: 70px;
        width: 718px;
        border-right: 2px solid #eee;
        animation: grow 8s steps(44) 1ms normal infinite,blink 500ms steps(44) infinite normal;
        overflow: hidden;
        white-space: nowrap;
      }
      p{
        position: absolute;
        left:27%;
        bottom:0;
        z-index: 1;
        color: #ff9800;
        user-select: none;
        font-size: 30px;
        text-align: center;
        transition: all 0.3s;
      }
    }
    >.DongTai_nav {
      //&:first-child{
      //  opacity: 1;
      //}
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      transition: all 0.5s;
      opacity: 1;
      img{
        width: 100%;
      }
    }
  }

  footer{
    width: 100%;
    height: 220px;
    background-color: var(--footer-bg);
    color: var(--footer-color);
    display: flex;
    font-size: 15px;
    position: relative;
    p{
      margin-bottom: 12px;
      &:last-child{
        margin-top: 2px;
        margin-bottom: -10px;
      }
    }
    .left,.right{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .thank{
      color:#26c6e1;
      font-size: 26px;
      user-select: none;
    }
    .site_info{
      user-select: none;
      img{
        width: 20px;
        margin-right: 5px;
      }
      display: flex;
      span{
        margin-right: 17px;
        display: flex;
        align-items: center;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .version{
      user-select: none;
      display: flex;
      span{
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 25px;
        width: 60px;
        &:nth-child(1){
          background-color: #ff9800;
          border-radius: 5px 0 0 5px;
        }
        &:nth-child(2){
          background-color: #26c6da;
          border-radius: 0 5px 5px 0;
        }
      }
    }
    .beian{
      a{
        color: var(--footer-color);
        display: flex;
        align-items: center;
      }
    }
    .contract{
      display: flex;
      width: 380px;
      justify-content: space-between;
      margin-left: 65px;
      margin-bottom: 10px;
      user-select: none;
      >div{
        position: relative;
        .link{
          width: 100px;
          position: absolute;
          top: -20px;
          left: -33px;
          opacity: 0;
          transition: opacity 0.9s ease, top 0.9s ease;
        }
        .icon{
          width: 39px;
          position: relative;
          z-index: 1;//link图片遮住了，让它出现
          cursor: pointer;
          &:hover{
            // 兄弟选择器 操控动画
            & ~ .link{
              top:-115px;
              left: -33px;
              opacity: 1;
            }
          }
        }
        p{
          position: absolute;
          width: 100px;
          left: -31px;
          color: var(--footer_contract);
          text-align: center;
          font-size: 11px;
          font-weight: 800;
        }
      }
    }
    .annotation{
      width: 600px;
      position: absolute;
      right: 100px;
      bottom:9px;
      color: #9B859D;
      font-size: 17px;
      span{
        color: #ff9800;
        margin: 0 3px;
      }
    }
  }

  .card{
    .title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(190, 188, 188, 0.67);
      padding: 20px 20px 10px 20px;
      background-color: white;
      border-radius: 5px 5px 0 0;
      color: black;
      h2{
        font-size: 20px;
      }
      >div{
        a{
          color: black;
          font-size: 14px;
          font-style: italic;
        }
      }
    }
    .body{
      padding: 10px 20px 20px 20px;
      background-color: white;
      border-radius: 0 0 8px 8px;
    }
  }

  //标签
  .tags .body{
    position: relative;
    ul{
      display: flex;
      flex-wrap:  wrap; //可换行排列
      margin-top: 10px;
      &::before{
        display: block;
        width: 20px;
        height: 20px;
        content: ' ';
        background-color: rgba(22, 93, 255);
        position: absolute;
        top: 0;
        left: 0;
        animation-name: move_box;
        animation-duration: 7s;
        animation-iteration-count: infinite;
      }
      li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 3 - 2px);
        height: 40px;
        background-color: #f7f8fa;
        &:nth-child(6n+1), &:nth-child(6n+2), &:nth-child(6n+3){
          background-color: #f2f3f5;
        }
        &:nth-child(3n+1), &:nth-child(3n+2){
          border-right: 1px solid #d9d9d9;
        }
      }
    }
  }

  // 新闻速览60s
  .all_articles >.body{
    padding: 0;
    background-color: transparent;//透明色
    //background: rgba(0,0,0, 0.5);
    //background: rgba(255, 255, 255, 0.5);
    >ul{
      width: 100%;
      >li{
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 6px;
        &:first-child{
          border-radius: 0 0 6px 6px;
          .left{
            padding: 10px 15px 20px 15px;
          }
          .right{
            padding: 15px 20px 0 15px;
          }
        }
        .left{
          width: 30%;
          //box-sizing: border-box;
          padding: 25px 15px 20px 15px;
          >div{
            width: 100%;
            height: 105px;
            overflow: hidden;
            border-radius: 5px;
            >img{
              width: 100%;
              transition: all 0.5s;
              &:hover{
                transform: scale(1.2);
              }
            }
          }
        }
        .right{
          width: 70%;
          padding: 30px 20px 0 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          h2{
            font-size: 22px;
            font-weight: 550;
            margin-bottom: 10px;
          }
          //多行截断省略
          p{
            //font-size: 16px;
            line-height: 25px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .article_info{
            color: #555;
            font-size: 14px;
            span{
              margin-right: 16px;
              i{
                margin-right: 6px;
              }
            }
          }
          >.button{
            width: 90px;
            height: 37px;
            background-color: #5dade2;
            border: none #5dade2;
            border-radius: 5px;
            position: absolute;
            right: 15px;
            bottom: 5px;
            color: white;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .page{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    >li{
      display: flex;
      min-width: 12px;
      height: 30px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      background-color: white;
      padding: 0 10px;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        background-color: dodgerblue;
      }
      a {
        display: flex;
        width: 100%;
        height: 100%;
        font-size: 12px;
        justify-content: center;
        align-items: center;
      }
    }
    >li.active{
      background-color: dodgerblue;
      a{
        color: white;
      }
    }
  }

  }

    // 精选文章
  .selected_articles {
    .title>.switch_articles_classification{
      user-select: none;
      span{
        cursor: pointer;
        font-size: 16px;
        font-weight: 1000;
        transition: all 0.5s;
        &:hover{
          color: deeppink;
        }
        &[active]{
          color: darksalmon;
        }
      }
    }
    .body {
      > ul {
        display: flex;
        flex-wrap: wrap;

        > li {
          width: 50%;
          box-sizing: border-box;
          height: 100px;
          display: flex;
          padding: 5px 0 10px 10px;

          &:nth-child(1), &:nth-child(3), &:nth-child(5) {
            border-right: 1px solid #d9d9d9;
          }

          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
            border-bottom: 1px solid #d9d9d9;
          }

          .left {
            width: 40%;
            height: 99px;

            > div {
              margin: 0;
              overflow: hidden;
              height: 100px;
              // border-radius: 5px;
              img {
                width: 100%;
                transition: all 0.5s;

                &:hover {
                  transform: scale(1.2);
                }
              }
            }
          }

          .right {
            width: 58%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 7px;
            box-sizing: border-box;
            padding: 0 8px 0 5px;

            h2 {
              font-size: 20px;
              overflow: hidden;
              white-space: nowrap; //不换行
              text-overflow: ellipsis;
            }

            p {
              overflow: hidden;
              white-space: nowrap; //不换行
              text-overflow: ellipsis;
              font-size: 15px;
              box-sizing: border-box;
              margin: 2px 0;
            }

            span {
              font-size: 14px;
              color: #605f5f;
              i{
                margin-right: 5px
              }
            }
          }
        }
      }
    }
  }

  // 建水名片
  .id_jianshui{
    background-color: white;
    .title{
      width: 100%;
      height: 100px;
      display: flex;
      box-sizing: border-box;
      h2{
        width: 40%;
      }
      img{
        width: 25%;
      }
    }
    .jieqi{
      margin-top: 5px;
      width: 100%;
      height: 210px;
      img{
        width: 100%;
        height: 90%;
        overflow: hidden;
      }
    }
    .footer {
      margin-left: 10px;
        p {
          margin-bottom: 5px;
          color: #2fcee5;
          span {
            font-style: oblique;
            margin-left: 25px;
            color: #707070FF;
          }
          a {
            margin-bottom: 5px;
            font-style: oblique;
            margin-left: 10px;
            color: #409EFFFF;
          }
        }
      }
  }

  // 其他App
  .other_app .body{
    padding: 0;
    >div{
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      a{
        display: block;
        justify-content: center;
        align-items: center;
        width: 98%;
        height: 100%;
        overflow: hidden;
        img{
          border-radius: 5px;
          width: 100%;
          transition: all 0.5s;
          &:hover{
            transform: scale(1.2);
          }
        }
      }
    }
  }

  // 今日热搜
  .hot_search{
    .title{
      >div{
        a{
          transition: all 0.3s;
          &:hover{
          color: #01a0e4;
          }
        }
      }
    }
    .body{
      >div{
        width: 100%;
        display: flex;
        align-items: center;
        .index
        {
          width: 20px;
          height: 20px;
          border-radius: 5px;
          background-color: #fe2d46;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;
        }
        a{
          width: 650px;
          transition: all 0.2s;
          &:hover{
            cursor: pointer;
            color: #00a8c6;
          }
        }
        .number{
          width: 100px;
          display: flex;
          justify-content: right;
          padding-right: 10px;
        }
        .hotimg{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  //站点信息
  .site_info{
    .body{
      p{
        width: 100%;
        font-size: 20px;
        height: 30px;
        font-weight: bold;
        color: #333;
        span{
          color: #ff9800;
        }
      }
    }
  }
}

//element-ui是被定义在外面的，可以f12查看
.el-dropdown-menu{
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-style: normal;
  a{
    font-size: 13px;
  }
  .logout{
     color: #e74c3c;
  }
  // 选中注销登录
}


//-----------拿出来-------------
main{
    padding: 20px 120px;
    width: calc(100% - 240px);
    min-height: 400px;
    color: var(--main-color);
    // 让它牢牢的在中间
    display: flex;
    justify-content: center;
    //filter: brightness(90%);
    .main{
      width: 1100px;
      min-height: 200px;
      background-color: var(--main-bg);
      //opacity: 0.9;
      border-radius: 6px 6px 6px 6px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      .left{
        width: 66%;
        >div{
          margin: 20px 0 10px 15px;
        }
      }
      .right{
        width: 33%;
        >div{
          margin: 20px 15px 10px 5px;
        }
      }
    }
}

//滚动动画
.card1{
    transform: translateX(400%);
    transition: transform 0.7s ease-in-out;
}
.card1:nth-of-type(even){
    transform: translateX(-400%);
  }
  //滚动展示动画
.card1.show{
  transform: translateX(0);
}

@keyframes move_box {
    0%{
      left:0;
      top:0;
    }
    25%{
      top:0;
      left: calc(100% - 25px);
    }
    50%{
      top: calc(100% - 25px);
      left: calc(100% - 25px);
    }
    75%{
      left: 0;
      top: calc(100% - 25px);
    }
    100%{
      left:0;
      top:0;
    }
  }

@keyframes grow {
  0%{
    width: 0;
  }
  50%{
    width: 718px;
  }
  100%{
    width: 0;
  }
}

@keyframes blink {
  0%{
    border-right-color: #eee;
  }
  50%{
    border-right-color: transparent;
  }
  100%{
    border-right-color: #eee;
  }
}


//加载动画
.loadingdiv{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading{
    color: white;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:3px solid transparent;
    //隐藏其他三条边只显示一条
    border-top-color: #9370db;
    animation: rotate 2s linear infinite;
    &:before{
      content: '';
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      border-radius: 50%;
      border:3px solid transparent;
      border-top-color: #ba55d3;
      animation: rotate 1.5s linear infinite;
    }
    &:after{
      content: '';
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      border-radius: 50%;
      border:3px solid transparent;
      border-top-color: #f0f;
      animation: rotate 1s linear infinite;
    }
  }
  span{
    color: white;
    font-size: 22px;
  }
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}