{% extends 'index.html' %}
{% load my_filter %}
{# 标题不和首页一样#}
{% block Title %}
    <title>{{ article.title }}|文章预览</title>
{% endblock %}
{#自己的css#}
{% block css %}
    <link rel="stylesheet" href="/static/editor-md/css/editormd.css"/>
    <link rel="stylesheet" href="/static/my/css/article.css">
{% endblock %}

{# 轮播图也要滚动 #}
{% load my_tag %}
{% block banner %}
    {% banner 'article' article %}
{% endblock %}
{% block loading %}
	
{% endblock %}
{# --------内容区域--------------------#}
{% block main %}
    <div class="article">
        <div class="article_actions">
            <div class="item">
                <i class="fas fa-thumbs-up" @click="article_digg($event,'{{ article.nid }}')"></i><span>{{ article.digg_count }}</span>
            </div>
            <div class="item">
                <i class="fas fa-star-half-alt {{ article|is_user_collect:request }}" @click="article_collect($event,'{{ article.nid }}')"></i><span>{{ article.collects_count }}</span>
            </div>
            <div class=" item">
                <i class="fa fa-angle-double-up" @click="go_to_top"></i>
            </div>
        </div>
        <div class="article_title">
            <h2>{{ article.title }}</h2>
            <p>
                <span>发布时间： <i>{{ article.change_date|date:'Y-m-d' }}</i></span>
                <span>作者： <i>{{ article.author }}</i></span>
                <span>来源： <i>{{ article.source }}</i></span>
                <span><a href="{{ article.link }}" target="_blank" >点我看原文</a></span>
            </p>
            <div>
                <i title="文章标签" class="fas fa-tags"></i>
                {% for tag in article.tag.all %}
                	<i>{{ tag.title }}</i>
                {% endfor %}
            </div>
        </div>
        <div class="article_content" >
            <div id="article_content">
                <textarea style="display: none;">{{ article.content }}</textarea>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
    let articlebottom = document.querySelector('.article_actions')
    window.onscroll = function () {
        let scrollTop = window.scrollY || document.documentElement.scrollTop; // 获取当前滚动位置
        let documentHeight = document.documentElement.scrollHeight; // 获取文档总高度
        let viewportHeight = window.innerHeight; // 获取视口高度
        let distanceFromBottom = documentHeight - scrollTop - viewportHeight; // 计算距离底部的距离
        if (distanceFromBottom <= 200) {
            articlebottom.classList.add('show_article_action')
        } else {
            articlebottom.classList.remove('show_article_action')
        }
    }
    </script>
    <script src="/static/editor-md/lib/marked.min.js"></script>
    <script src="/static/editor-md/lib/prettify.min.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/editor-md/editormd.min.js"></script>
    <script type="text/javascript" src="/static/my/js/article.js"></script>
{% endblock %}
