<!DOCTYPE html>
<html lang="zh">
{% load my_tag %}
<head>
    {#------手机适配---------#}
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="shortcut icon" href="/static/my/img/favicon/favicon.ico">
    <meta charset="UTF-8">
    {#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <meta name="author" content="古城建水—江流儿">
    <meta name="description"
          content="助力古城建水旅游的发展，建水位于云南省南部、红河中游北岸，县境东接弥勒市、开远市和个旧市，南隔红河与元阳县相望，西邻石屏县，北与通海县、华宁县相连，距省城昆明220公里、距州府蒙自和红河机场80公里、距中越边境口岸河口250公里">
    <meta name="keywords" content="建水,云南省建水县,双龙桥,孔庙,旅游,昆明,紫陶,烧豆腐,狮子糕">
    {% block Title %}
        <title>古城建水</title>
    {% endblock %}

    <link rel="stylesheet" href="/static/fontawesome-free-5/css/all.min.css">
    <link rel="stylesheet" href="/static/my/css/index.css">
    <link rel="stylesheet" href="/static/my/css/reset.css">
    {% block css %}
        <!--留一个口写css，在其他页面index里面的代码也要，还要有自己的-->
    {% endblock %}
    <!-- 引入element-ui样式 -->
    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/my/css/phone.css">
    {#------手机适配---------#}
</head>
<body>
{% block loading %}
    <div class="loadingdiv">
        <div class="loading"></div>
        <span>加载中...</span>
    </div>
{% endblock %}
<div id="app">
    {#  通过变量控制css文件的加载路径  #}
    <link rel="stylesheet" :href="'/static/my/css/theme/'+ theme +'.css'">
    <el-drawer
          title="建水欢迎您(*╹▽╹*)"
          style="display: none"
          :modal="false"
          @open="nav_open_drawer"
          @opened="nav_open_drawer_dom"
          @close="nav_close_drawer"
          :visible.sync="nav_drawer"
          direction="ltr">
          <div class="content_drawer" id="drawer_nav">
              <a href="/">首页 <i class="fa fa-arrow-left"></i> </a>
              <a href="/news/">新闻 <i class="fa fa-arrow-left"></i>  </a>
              <a href="/model/">大模型 <i class="fa fa-arrow-left"></i>  </a>
              <a href="/sitenav/">网站导航 <i class="fa fa-arrow-left"></i>  </a>
              {% if request.user.is_authenticated %}
            	<a href="/backend/">个人中心</a>
              {% endif %}
          </div>
    </el-drawer>
    <nav class="nav_bg">
        <div class="left" id="dynamic_nav">
            <a @click="nav_drawer=true" href="javascript:void(0);" class="nav_phone_icon"><i class="fa fa-align-justify"></i></a>
            <a href="/">首页</a>
            <a href="/news/">新闻</a>
            <a href="/model/">大模型</a>
            <a href="/sitenav/">网站导航</a>
        </div>
        <div class="right">
            <img src="/static/my/img/nav/light.svg" @click="setTheme('light')" alt="白色主题" v-show="theme==='dark'">
            <img src="/static/my/img/nav/dark.svg" @click="setTheme('dark')" alt="黑色主题" v-show="theme==='light'">
            {% if  request.user.is_authenticated %}
                {#                <a href="#">{{ request.user.username }}</a>#}
                <el-dropdown>
                  <span class="el-dropdown-link">
                    {{ request.user }}<i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                    <el-dropdown-menu slot="dropdown">
                        {% if request.user.is_superuser %}
                            <el-dropdown-item><a href="/backend/add_article/">写文章</a></el-dropdown-item>
                        {% endif %}
                        <el-dropdown-item><a href="/backend/">个人中心</a></el-dropdown-item>
                        {% if request.user.is_superuser %}
                            <el-dropdown-item><a href="/admin/">后台管理</a></el-dropdown-item>
                        {% endif %}
                        <el-dropdown-item><a href="/backend/edit_avator/">修改头像</a></el-dropdown-item>
                        <el-dropdown-item><a href="/logout/" class="logout">注销登录</a></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            {% else %}
                <a href="/login/">登录</a>
            {% endif %}
        </div>
    </nav>
    {# 大模型的继承面板 #}
    {% block model %}
        {% block banner %}
            {% banner 'index' %}  <!-- header 不继承轮播图主要还是文章页不进行轮播-->
        {% endblock %}

        <main>
            {% csrf_token %}
            {% block main %}
                <div class="main" style="background: rgba(240, 240, 240, 0.6);">
                    <div class="left">
                        <div class="selected_articles card">
                            <div class="title">
                                <h2>精选文章</h2>
                                <div class="switch_articles_classification">
                                    <span :active="this.this_classification==='news60'"
                                          @click="switch_articles_classification('news60')">新闻速览</span>
                                    |
                                    <span :active="this.this_classification==='play'"
                                          @click="switch_articles_classification('play')">游玩</span>
                                </div>
                            </div>
                            <div class="body">
                                {# ----- 新闻速览---------#}
                                <ul v-show="this_classification==='news60'" class="news60">
                                    {% for new in new_list %}
                                        <li class="card1">
                                            <div class="left">
                                                <div>
                                                    <img src="{{ new.cover.url.url }}" alt="">
                                                </div>
                                            </div>
                                            <div class="right">
                                                <a href="/article/{{ new.nid }}">
                                                    <h2>{{ new.title }}</h2>
                                                    <p>{{ new.abstract }} </p>
                                                    <span><i class="far fa-clock"></i>{{ new.change_date|date:'y-m-d' }}</span>
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {#------- 游玩--------#}
                                <ul v-show="this_classification==='play'" class="play">
                                    {% for play in play_list %}
                                        <li class="card1">
                                            <div class="left">
                                                <div>
                                                    <img src="{{ play.cover.url.url }}" alt="">
                                                </div>
                                            </div>
                                            <div class="right">
                                                <a href="/article/{{ play.nid }}">
                                                    <h2>{{ play.title }}</h2>
                                                    <p>{{ play.abstract }}</p>
                                                    <span><i
                                                            class="far fa-clock"></i>{{ play.change_date|date:'y-m-d' }}</span>
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {#   -----------   这里pos目的是那个文章定位用----------#}
                        <div class=" hot_search card card1" id="pos">
                            <div class="title">
                                <h2>今日热点</h2>
                                <div>
                                    <a href="/news/">查看更多</a>
                                </div>
                            </div>
                            <div class="body">
                                <div>
                                    <span class="index">[[ today_index ]]</span>
                                    <a :href="[[ today_url ]]" target="_blank">[[ today_query ]]</a>
                                    <span class="number">[[ today_hotScore ]]</span>
                                    <!-- 只有当 item.hotTagImg 存在时，才显示 img 元素 -->
                                    <img v-if="today_img" :src="[[ today_img ]]" class="hotimg">
                                </div>
                            </div>
                        </div>
                        <div class=" all_articles card">
                            <div class="title">
                                <h2>新闻速览60</h2>
                            </div>
                            <div class="body">
                                <ul>
                                    {% for article in article_list %}
                                        <li class="card1">
                                            <div class="left">
                                                <div>
                                                    <img src="{{ article.cover.url.url }}">
                                                </div>
                                            </div>
                                            <div class="right">
                                                <a href="/article/{{ article.nid }}/">
                                                    <h2>{{ article.title }}</h2>
                                                    <p>{{ article.abstract }}</p>
                                                </a>
                                                <div class="article_info">
                                                    <span><i
                                                            class="far fa-clock"></i>{{ article.change_date|date:'y-m-d' }}</span>
                                                    <span><i
                                                            class="fas fa-thumbs-up"></i>{{ article.digg_count }}</span>
                                                    <span><i class="far fa-eye"></i>{{ article.look_count }}</span>
                                                    <span><i
                                                            class="fas fa-star-half-alt"></i>{{ article.collects_count }}</span>
                                                </div>
                                                <a href="/article/{{ article.nid }}/" target="_blank" class="button">查看详情</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <!----------分页器------------>
                                <ul class="page card1">
                                    {{ page.pager_html|safe }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="other_app card">
                            <div class="title">
                                <h2>{{ other_app.title }}</h2>
                            </div>
                            <div class="body">
                                <div>
                                    <a href="{{ other_app.href }}" target="_blank">
                                        <img src="{{ other_app.img }}" alt="其他App图片">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tags card card1">
                            <div class="title">
                                <h2>标签</h2>
                            </div>
                            <div class="body">
                                <ul>
                                    {% for tag in tag_list %}
                                        <li>{{ tag.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="id_jianshui card card1">
                            <div class="title">
                                <h2>建水名片</h2>
                                <img src="/static/my/img/footer/gcJianshui.jpg" alt="我的微信">
                            </div>
                            <div class="jieqi">
                                <img id="jieqiset" src="{{ image_path }}" alt="24节气">
                            </div>
                            <div class="footer">
                                <p>名字:<span>{{ site.name }}</span></p>
                                <p>地址:<span>{{ site.addr }}</span></p>
                                <p>美称:<span>{{ site.nameObj }}</span></p>
                                <p>网址：<a target="_blank"
                                           href="//{{ site.site_url }}">{{ site.site_url }}</a>
                                </p>
                            </div>
                        </div>
                        {#                    <div class="friend_link card card1">#}
                        {#                        <div class="title">#}
                        {#                            <h2>友情链接</h2>#}
                        {#                        </div>#}
                        {#                        <div class="body">#}
                        {#                            主要内容区域#}
                        {#                        </div>#}
                        {#                    </div>#}
                        <div class="site_info card card1">
                            <div class="title">
                                <h2>站点信息</h2>
                            </div>
                            <div class="body">
                                <p>天气： <span>[[ today_weather ]] [[ today_weather_temp ]]度 [[ today_weather_wind ]] [[ today_weather_windSpeed ]]km/h</span>
                                </p>
                                <p>用户总数： <span>{{ sum_user }}  人</span></p>
                                <p>文章总数： <span>{{ sum_article }} 篇</span></p>
                                <p>在线人数： <span>[[ online_count ]] 人</span></p>
                                <p>技术： <span>python django vue axios</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </main>
        <footer>
            <div class="left">
                <p class="thank">Thanks For</p>
                <p class="site_info">
                    <span><img src="/static/my/img/footer/华为云.svg" alt="">华为云服务器</span>
                    <span><img src="/static/my/img/footer/bt-copy.svg" alt="">宝塔面板</span>
                    <span><img src="/static/my/img/footer/ubuntu.svg" alt="">Ubuntu 22</span>
                </p>
                <p class="version">
                    <span>version</span>
                    <span>1.0.0</span>
                </p>
                <p>建站日期：2024-7-15</p>
                <p class="beian">
                    <a href="https://beian.miit.gov.cn"><img src="/static/my/img/footer/PSB.png" alt="">备案号：滇ICP备06002948号-1</a>
                </p>
            </div>
            <div class="right">
                <div class="contract">
                    <div>
                        <img class="icon" src="/static/my/img/footer/banshitong.png" draggable="false">
                        <img class="link" src="/static/my/img/footer/link_banshitong.png" draggable="false">
                        <p>一部手机办事通</p>
                    </div>
                    <div>
                        <img class="icon" src="/static/my/img/footer/youYunnan.jpg" draggable="false">
                        <img class="link" src="/static/my/img/footer/link_youYunnan.jpg" draggable="false">
                        <p>一部手机游云南</p>
                    </div>
                    <div>
                        <img class="icon" src="/static/my/img/footer/wenlvYunnan.jpg" draggable="false">
                        <img class="link" src="/static/my/img/footer/link_wenlvYunnan.png" draggable="false">
                        <p>文旅云南</p>
                    </div>
                    <div>
                        <img class="icon" src="/static/my/img/footer/gcJianshui.jpg" draggable="false">
                        <img class="link" src="/static/my/img/footer/link_gcjianshui.jpg" draggable="false">
                        <p>古城建水官方抖音</p>
                    </div>
                    <div>
                        <img class="icon" src="/static/my/img/footer/jianshuiPSB.jpg" draggable="false">
                        <img class="link" src="/static/my/img/footer/link_jianshuiPSB.jpg" draggable="false">
                        <p>建水警方抖音</p>
                    </div>
                </div>
                <p style="margin-top: 20px">联系热线：12345 </p>
            </div>
            <div class="annotation">
                &nbsp;&nbsp;&nbsp;&nbsp;本网站出于兴趣和学习开发，网站大量使用了爬虫技术，如有侵权，请联系qq:<span>2874382167</span>删除。同时，向所有信息的原创作者致以最深的敬意和感激。
            </div>
        </footer>
    {% endblock %}

</div>
</body>
{% block js %}
    <!--开一个口加js-->
{% endblock %}
</html>

<script src="/static/axios/axios.min.js"></script>
<script src="/static/vue/vue.js"></script>
<script src="/static/jquery/jquery.min.js"></script>
<!-- 引入element-ui组件库 -->
<script src="/static/element-ui/index.js"></script>
<script src="/static/my/js/index.js"></script>
{% block js_model %}
    <script src="/static/my/js/indextwo.js"></script>
{% endblock %}
<script>
    //把加载动画的代码挂这里，不写如js文件，希望它快一点执行
    document.body.style.overflow = 'hidden';
    $(window).on('load', function () {
        document.body.style.overflow = '';
        $('.loadingdiv').fadeOut("slow");
    });
    
    //--------------- 动态导航栏变色---------------------
    let nav = document.querySelector('.nav_bg')
    window.onscroll = function () {
        let top = document.documentElement.scrollTop
        if (top >= 300) {
            nav.classList.add('show')
        } else {
            nav.classList.remove('show')
        }
    }
    
    // ---------动态导航字体被选中--------------
    function dynamic_nav() {
        let a_list = document.querySelectorAll('#dynamic_nav>a')
        let path = location.pathname
        for (const a of a_list) {
            let a_href = a.getAttribute('href')
            if (a_href === path || a_href + '/' === path) {
                a.classList.add('active')
            }
        }
    }
    dynamic_nav()
    //----------卡片滑动滚动效果---------
    let cards = document.querySelectorAll('.card1')
    window.addEventListener('scroll', () => {
        const scrollheight = window.innerHeight * 0.9
        cards.forEach((item) => {
            const cardTop = item.getBoundingClientRect().top
            if (cardTop < scrollheight) {
                item.classList.add('show')
            } else {
                item.classList.remove('show')
            }
        })
    })
</script>