:root{
  --nav-bg: #282c34;
  --nav-color: white;

    //黑夜顶部导航栏
  --nav_top_bgc: #282c34;
  --nav_top_a: white;
  --footer_contract: #f1c40f; //底部联系热线上面这里

  --main-bg:#071418;
  --main-color: #808595;

  --footer-bg: #282c34;
  --footer-color: white;

  //大模型
  --model-bg:#17171a;
  --model--font:#ffffff;
  --model--main-bgc--:#282828;
  --model--main-left-right-bgc--:#17171a;
}
